html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sort, .layout, .reset {
    text-decoration: none;
    color: #6c757d;
}

.sort.selected, .layout.selected {
    color: #1a1e21;
}

.sort:hover, .layout:hover, .reset:hover {
    cursor: pointer;
}
.sort:active, .layout:active, .reset:active {
    color: #429df6;
}

.filter {
    text-decoration: none;
    color: black;
}

#map {
    height: 100%;
}

.delete {
    color: #6c757d;
}

.delete:hover {
    cursor: pointer;
    color: #0d6efd;
}