@model ChangePasswordViewModel;
<div class="row gy-2 gx-md-5">
    <div class="list-group col-md-4">
        <a asp-action="ChangeEmail" class="list-group-item list-group-item-action">Сменить электронный адрес</a>
        <a href="" class="list-group-item list-group-item-action active" aria-current="true">Сменить пароль</a>
        <a href="#" class="list-group-item list-group-item-action">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    </div>
    <div class="col-md-8">
        <h3>Смена пароля</h3>
        <form asp-action="ChangePassword" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="mb-3">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" class="form-control"/>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PasswordConfirm"></label>
                    <input asp-for="PasswordConfirm" class="form-control"/>
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <input class=" btn shadow-none btn-success" type="submit" value="Сменить пароль">
            </div>
        </form>
    </div>
</div>
